.contact-page {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.contact-page-item {
    display: flex;
    justify-content: space-between;
    position: relative;
    /* box-sizing: border-box; */
    padding: 50px 10px;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
}
.item-1 {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.header-i {
    font-size: 35px;
    font-family: 'Baskervville', serif;
}
.center-i {
    font-family: 'Century Gothic',sans-serif;
    font-size: 18px;
}
.contact-page-item-1 {
    position: relative;
    box-sizing: border-box;
    padding: 20px 20px;
    left: 50%;
    transform: translate(-50%);
    width: 75%;
    text-align: center;
}
.header-n {
    font-weight: 400;
    margin-bottom: 40px;
    font-size: 35px;
    font-family: 'Baskervville', serif;
}
.center-n {
    font-size: 90%;
    letter-spacing: .2em;
    font-family: 'Century Gothic',sans-serif; 
    text-align: left;
}
.center-nm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.n-input {
    padding: 15px 15px;
    width: 100%;
    margin: 16px 0;
    border: 1px solid #e8e8e8;
}
.center-ni {
    font-size: 90%;
    letter-spacing: .2em;
    font-family: 'Century Gothic',sans-serif; 
    text-align: left;
}
.ni-input {
    width: 100%;
    height: 290px;
    border: 1px solid #e8e8e8;
    margin-bottom: 20px;
    padding: 20px;
}
.send-m {
    width: auto;
    padding: 15px 25px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .2em;
    border: 1px solid #e8e8e8;
    background: #f6d7d8 ;
    cursor: pointer;
}
.contact-number {
    text-decoration: none;
    border-bottom: 2px solid rgba(65,65,65,.2);
    color: #414141;
}
@media screen and (max-width: 400px) {
    .contact-page {
        margin-top: -90px;
    }
    .contact-page-item {
        flex-direction: column;
        width: unset;
        padding-top: 0;
        
    }
    .item-1 {
        width: 100%;
        line-height: 2;
    }
    .item-1 img {
        width: 100%;
        object-fit: contain;
    }
    .contact-page-item-1 {
        width: 100%;
    }
    .center-nm {
        grid-template-columns: 1fr;
    }
    .ni-input {
        height: unset;
    }
}