.content-page .page-3{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.top-page-3 {
    width: 100%;
    height: 650px;
    padding: 0 40px;
    overflow: hidden;
    position: relative;
}
.top-page-3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1;
}
.top-page-3 img {
    width: 100%;
    position: absolute;
    left: 0;
    object-fit: cover;
}
.text-inside-page-3 {
    margin-top: 0;
}
.btn-title-page-3 {
    margin-right: 10px;
    margin-left: 10px;
}
.info-shop {
    width: 100%;
    height: 810px;
    margin-top: 75px;
}
.info-shop-pd {
    width: 100%;
    height: 100%;
    padding: 0 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.reservation,
.open-time,
.address {
    padding: 10px 20px;
}
.reservation h2,
.open-time h2,
.address h2,
.our-menus-pd h2,
.gallery h2 {
    margin-bottom: 25px;
    font-family: 'Cutive Mono', monospace;
    font-size: 32px;
}
.reservation p,
.open-time p,
.address p,
.open-time table tr td,
.our-menus-item p,
.atn-tea-pd p {
    font-family: 'Didact Gothic', sans-serif;
    letter-spacing: 1.5px;
    color: #414141;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.7;
}
.open-time h5,
.address h5 {
    font-family: 'Didact Gothic', sans-serif;
    color: #414141;
    font-family: 700;
    font-size: 20px;
    margin-top: 41px;
    margin-bottom: 25px;
}
.open-time table {
    width: 100%;
    margin: 25px 0;
}
.map-address {
    width: 390px;
    height: 390px;
    margin: 25px 0;
}
.map-address img {
    width: 100%;
    object-fit: cover;
}
.our-menus {
    width: 100%;
    height: 570px;
}
.atm-top {
    height: 645px;
    margin-top: 45px;
}
.our-menus-pd {
    width: 100%;
    height: 100%;
    padding: 0 40px;
}
.our-menus-pd h2,
.gallery h2 {
    text-align: center;
    margin-bottom: 40px;
}
.atm-top .our-menus-pd h2 {
    text-align: center;
    margin-bottom: 20px;
}
.our-menus-pd > p {
    text-align: center;
    margin-bottom: 40px;
}
.our-menus-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.our-menus-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-menus-item a {
    color: #414141;
}
.price-tea {
    margin-top: 15px;
}
.our-menus-item:hover .border-bottom {
    width: 60%;
    transition: all 0.5s;
}
.img-menus {
    width: 320px;
    height: 400px;
    margin-bottom: 20px;
}
.img-menus img {
    width: 100%;
    object-fit: cover;
}
.atn-tea {
    width: 100%;
    height: 750px;
    margin-top: 60px;
}
.atn-tea-pd {
    width: 100%;
    height: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.atn-tea-img {
    width: 50%;
    height: 750px;
    display: flex;
    justify-content: center;
}
.atn-tea-img img {
    height: 100%;
    object-fit: cover;
}
.atn-tea-text {
    width: 50%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.atn-tea-pd p {
    margin: 15px 0;
}
.atn-tea-pd b {
    font-family: sans-serif;
    letter-spacing: 1.5px;
    color: #414141;
    font-size: 16px;
    margin-bottom: 10px;
}
.btn-p {
    text-align: center;
}
.gallery {
    margin-top: 60px;
    width: 100%;
}
.grid-list-img {
    display: grid;
    
}
.grid-list-img:nth-child(2) {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 500px;
}
.grid-list-img:nth-child(3) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 800px;

}
.grid-list-img:nth-child(4) {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 500px;
}
.grid-list-img:nth-child(5) {
    grid-template-columns: 1.2fr 1.2fr 1.5fr 1.5fr;
    grid-template-rows: 500px;
}
.grid-list-img-item {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
}
.grid-list-img-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}